<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body style="text-align: center;">
    {{ subject }}
    </br>
    Рецепт: <b>{{ recipe_title }}</b>
    </br>
    Категория рецепта: <b>{{ category_title }}</b>
    </br>
    Рейтинг рецепта: <b>{{ recipe_raiting }}</b>
    </br>
    Комментарий: <b>{{ comment.text }}</b>
    </br>
    Поставленный рейтинг: <b>{{ comment.raiting }}</b>
    </br>
    Автор комментария: <b>{{ comment.author }}</b>
    </br>
</body>

</html>