<div class="all-recipt" data-recipt_id="{{ item.id }}">
    <b>{{item.title}}</b>
    <br>
    Категория: <b>{{category}}</b>
    <br>
    Рейтинг: <b>{{rating}}</b>
    <br>
    Время приготовления: <b>{{item.text_time_cooking}}</b>
    <br>
    Шаги приготовления: <b>{{item.steps}}</b>
    <br>
    Время ингридиенты: <b>{{item.ingredients}}</b>
    <br>
    {{ item.html_description | safe}}
    Шеф-повар: <b>{{name_chef}}</b>
    <br>
    Дата создания: <b>{{created}}</b>
    <br>
    Дата обновления: <b>{{updated}}</b>
    <br>
    <br>
    <br>
    <div>
        Комментарии: <b id="count-comments">{{comments_count}}</b>
        {{comment_form | safe}}
        <div id="comments-box">{{list_comments | safe}}</div>
    </div>
</div>