{% load functions_html %}
<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>
    {% include "includes/bootstrap.css.html" %}
    {% include "includes/styles.css.html" %}
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Личный кабинет</h4>

                        <a href="{{'HOST'|get_const}}/main/front/loginin/">Домой</a>
                        <a href="{{'HOST'|get_const}}/main/front/edit_account/">Редактировать профиль</a>
                        <a href="{{'HOST'|get_const}}/main/front/support/">Техподдержка</a>
                        <div class="my-button" onclick="renderLkAllRecipesPage()">Все рецепты</div>
                        <div class="my-button" onclick="renderLkAllRecipesWithMyCommentsPage()">Рецепты с моими комментариями</div>
                        <div class="my-button" onclick="renderLkAllFavoritesPage()">Избранное</div>

                    </div>
                    <div class="card-body">
                        <label for="last_name" class="form-label">
                            Фамилия: <b>{{ user.last_name }}</b>
                        </label>
                        </br>
                        <label for="first_name" class="form-label">
                            Имя: <b>{{ user.first_name }}</b>
                        </label>
                        </br>
                        <label for="email" class="form-label">
                            Email: <b>{{ user.email }}</b>
                        </label>
                        </br>
                        <label for="type" class="form-label">
                            Тип аккаунта: <b>{{ user.type_text }}</b>
                        </label>

                        <div id="box-lk"></div>
                        
                        <form method="post">  
                            {% csrf_token %}      
                            <button type="submit" onclick="logout()" class="btn btn-primary w-100">Выйти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/server_js.html" %}
</body>