{% load functions_html %}

<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>
    {% include "includes/bootstrap.css.html" %}
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Личный кабинет</h4>

                        <a onclick="renderLkAllRecipesPage()">Все рецепты</a>
                        <a href="">Мои коментарии</a>
                        <a href="">Избранное</a>

                    </div>
                    <div class="card-body">
                        
                        <label for="first_name" class="form-label">
                            Фамилия: <b>{{ user.first_name }}</b>
                        </label>
                        </br>
                        <label for="last_name" class="form-label">
                            Имя: <b>{{ user.last_name }}</b>
                        </label>
                        </br>
                        <label for="email" class="form-label">
                            Email: <b>{{ user.email }}</b>
                        </label>
                        </br>
                        <label for="type" class="form-label">
                            Тип аккаунта: <b>{{ user.type_text }}</b>
                        </label>

                        <div id="box-lk"></div>
                        
                        <form method="post">        
                            <button type="submit" class="btn btn-primary w-100">Выйти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>