<!DOCTYPE html>
<html>
<head>
    <title>Страница не найдена</title>
</head>
<body>
    <h1>404 - Страница не найдена</h1>
    <div>
        <p>Извините, запрашиваемая страница не существует.</p>
        </br>
        <a href="http://localhost:8700/main/front/loginin/">Домой</a>    
        <a href="http://localhost:8700/main/front/support/">Техподдержка</a>
        </br>

        {% if img %}
        <img src="data:image/png;base64, {{ img }}" 
             alt="Page not found" 
             width="800"/>
        {% endif %}

        {% if img2 %}
        <img src="data:image/png;base64, {{ img2 }}" 
             alt="Page not found" 
             width="800"/>
        {% endif %}
    </div>

</body>
</html>
